@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Dosis&family=Sansita&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(165, 165, 165);
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    padding: 28px 0;
    list-style: none;
    font-size: 30px;
}

.sidebar nav li a {
    text-decoration: none;
    color: white;
}

.main {
    /* background-color: yellow; */
    width: 80vw;
}

.container {
    display: flex;

}

.infoContainer {
    /* background-color: rgb(38, 253, 0); */
    height: 47vh;
    width: 80vw;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img {
    height: 47vh;
}

.hello {
    font-size: 2.2em;
    font-family: 'Source Code Pro', monospace;
}

.name {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

.about {
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;
}

.moreabout {
    font-size: 1.2em;
    margin-top: 20px;
    font-family: 'Dosis', sans-serif;
}

.buttons {
    margin-top: 25px;
    padding: 6px 9px;
    font-size: 14px;
    border-radius: 15px;
}

.buttons button {
    padding: 6px 9px;
    border-radius: 15px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 14px;
    margin: 0 3px;
    cursor: pointer;
}

.btn button {
    padding: 4px 6px;
    border-radius: 14px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 10px;
    margin: 0 3px;
    cursor: pointer;
}

.btn button:hover {
    background-color: white;
    color: dodgerblue;
}

.buttons button:hover {
    background-color: white;
    color: dodgerblue;
}


.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactform h1 {
    font-family: 'Dosis', sans-serif;
    padding: 12px 0;
    font-weight: bold;
}

.contactform {
    width: 73vw;
    padding: 0 34px;
    margin: 15px;
    margin-left: 88px;
    font-family: 'Source Code Pro', monospace;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

#emailHelp {
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: 10px;
    color: midnightblue;
}

.contactform form div input {
    width: 16vw;
    border-radius: 5px;
    margin-top: 6px;
    padding: 3px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 60px;
    margin: 3px 0;
}

.blogitem {
    height: 47vh;
    width: 78vw;
    margin-left: 88px;
    font-family: 'Dosis', sans-serif;
    margin-top: 23px;
}

.blogContainer h1 {
    font-family: 'Dosis', sans-serif;
    margin-top: 50px;
    margin-left: 88px;
}

.blogitem p {
    font-family: 'Source Code Pro', monospace;
}

.introContainer {
    margin-left: 88px;
    margin-top: 20px;
    width: 80vw;
}

.devIntro h1 {
    margin: 12px;
    font-family: 'Dosis', sans-serif;
}

.devIntro h2 {
    margin: 23px;
    font-family: 'Dosis', sans-serif;
}

.devIntro p {
    margin: 23px;
    font-family: 'Source Code Pro', monospace;
}

.skillcontainer {
    padding: 12px;
}

.skillitem {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skill {
    width: 270px;
    height: 8px;
    border: 2px solid black;
}

.hundred {
    width: 300px;
    background-color: aqua;
}

.fifty {
    width: 150px;
    background-color: blueviolet;
}

.tfive {
    width: 75px;
    background-color: aquamarine;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

@media (max-width: 1000px) {

    /* * { */
    /* background-color: rgb(195, 104, 104); */
    /* } */
    .devPic {
        display: none;
    }

    .introContainer,
    .blogContainer,
    .contactform {
        margin: 50px 8px;
    }


    /* .sidebar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}